---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import TitleHeader from "../../components/TitleHeader.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const roadmapItems = await getCollection("roadmapItems");

  return roadmapItems.map((roadmapItem) => ({
    params: { slug: roadmapItem.id },
    props: roadmapItem,
  }));
}

type Props = CollectionEntry<"roadmapItems">;
const roadmapItem = Astro.props;
const { Content } = await render(roadmapItem);
---

<Layout title={roadmapItem.data.title}>
  <TitleHeader>{roadmapItem.data.title}</TitleHeader>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <Content />
      </div>
    </div>
  </div>
</Layout>
