.bg-fullscreen{
  background: rgba(40, 93, 170, .9);
}
.bg-navbar{
  background: #285DAA;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.bg-title{
  background-color: #285DAA;
  background-image: url('#{$baseurl}/img/title-map.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
.home-banner{
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  left: 0;
  top: 50%;
  width: 65%;
  z-index: $zindex-sticky;
  transform: translateY(-50%);
}
