---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="link-badge text-decoration-none text-nowrap"><slot /></a>

<style>
  .link-badge {
    color: #95befa;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
