---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="link-badge"><slot /></a>

<style>
  .link-badge {
    color: #95befa;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
