---
interface Props {
  title: string;
  visualStyle?: string;
  visualFlex?: boolean;
  href?: string;
}

const { title, visualStyle = "", visualFlex = true, href } = Astro.props;

const visualBaseStyle = visualFlex
  ? "display: flex; justify-content: center; align-items: center;"
  : "";
const fullVisualStyle = [visualBaseStyle, visualStyle]
  .filter(Boolean)
  .join(" ");

const titleText = title.replace(/<[^>]+>/g, "");
---

<hr />
<div class:list={["container", { "project-link": !!href }]}>
  {
    href && (
      <a
        href={href}
        class="stretched-link"
        aria-label={`Read more about ${titleText}`}
      />
    )
  }
  <div class="row">
    <div
      class="col-md-12 col-lg-6"
      style="display: flex; flex-direction: column; justify-content: center;"
    >
      <div>
        <h1 style="color: white;" set:html={title} />

        <slot name="description" />
        <br /><br />

        <div class:list={[{ "badges-wrapper": !!href }]}>
          <slot name="badges" />
        </div>
        <br /><br />
      </div>
    </div>
    <div class="col-md-12 col-lg-6" style={fullVisualStyle || undefined}>
      <slot name="visual" />
    </div>
  </div>
</div>

<style lang="scss">
  .project-link {
    position: relative;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #111422;
    }
  }

  .badges-wrapper {
    position: relative;
    z-index: 2;
  }
</style>
