---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import TitleHeader from "../../components/TitleHeader.astro";

const authors = await getCollection("authors");
---

<style lang="scss">
  .newsarticle {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background: #111422;
      h3,
      p:first {
        color: white !important;
      }
    }
  }
</style>

<Layout>
  <TitleHeader>News</TitleHeader>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <ul>
          {
            authors.map((post) => (
              <a href={`/authors/${post.data.handle}/`}>
                <li class="title" style="color: #e0e0e0;">
                  {post.data.title}
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</Layout>
