---
title: "Developer role";
import TitleHeader from "../../components/TitleHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Developer role">
  <TitleHeader>Developer role</TitleHeader>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-10 col-lg-8">
        <h3>Description</h3>

        <p>
          You are interested in programming and saw a Bounty ticket in
          <a
            href="https://github.com/maplibre/maplibre-gl-js/issues?q=is%3Aissue+is%3Aopen+label%3A%22%F0%9F%92%B0+bounty+S%22%2C%22%F0%9F%92%B0+bounty+M%22%2C%22%F0%9F%92%B0+bounty+L%22%2C%22%F0%9F%92%B0+bounty+XL%22%2C%22%F0%9F%92%B0+bounty+XXL%22+"
            >MapLibre GL JS</a
          >
          or
          <a
            href="https://github.com/maplibre/maplibre-native/issues?q=is%3Aissue+is%3Aopen+label%3A%22%F0%9F%92%B0+bounty+S%22%2C%22%F0%9F%92%B0+bounty+M%22%2C%22%F0%9F%92%B0+bounty+L%22%2C%22%F0%9F%92%B0+bounty+XL%22%2C%22%F0%9F%92%B0+bounty+XXL%22+"
            >MapLibre Native</a
          >
          that you would like to complete? Apply now to become a Developer for MapLibre
          and work on Bounties from small bug fixes to large series of tasks.
        </p>

        <p>
          Before applying to the Developer role make sure to read our
          <a href="https://maplibre.org/jobs/step-by-step-bounties-guide/"
            >step-by-step bounties guide</a
          >.
        </p>
        <p>
          MapLibre is a widely used open-source map rendering engine powering
          maps at all scales from individual hobby projects to large tech
          enterprises such as Amazon, Meta, and Microsoft. MapLibre’s distinct
          vector map rendering technology offers users a state-of-the-art
          experience with smooth responsive rendering and full interactivity.
        </p>
        <h3>Responsibilities</h3>

        <ul>
          <li>
            Choose tasks from the list of published Bounty tickets in MapLibre
            GL JS or Native according to your skills and preferences.
          </li>

          <li>Work independently and communicate progress to Maintainers.</li>

          <li>
            Propose and create new Bounty tickets in accordance with the
            Maintainers.
          </li>
        </ul>
        <h3>Required Qualifications</h3>

        <ul>
          <li>Enthusiasm for maps</li>

          <li>Good spoken and written English</li>

          <li>Good self-management</li>

          <li>
            Programming experience
            <ul>
              <li>for MapLibre GL JS in TypeScript</li>

              <li>
                for MapLibre Native in C++ (Core), Objective-C/Swift (iOS), or
                Java/Kotlin (Android)
              </li>
            </ul>
          </li>
        </ul>
        <h3>Compensation</h3>

        <p>
          As a Developer, you work on Bounty tickets and you are not required to
          track time. Once you complete a Bounty, you can submit an invoice to
          Open Source Collective, MapLibre’s fiscal host. No further contract is
          required. Read more in the
          <a href="https://maplibre.org/jobs/step-by-step-bounties-guide/"
            >step-by-step bounties guide</a
          >.
        </p>

        <h3>Application Form</h3>

        <p>Send us your application now by clicking on the button below:</p>

        <p>
          <a
            href="https://share-eu1.hsforms.com/1tw5jrFK6SX-jjy_z6CV90Qfn2ab"
            class="btn btn-primary">Apply Now</a
          >
        </p>
      </div>
    </div>
  </div>
</Layout>
