{{ define "main" }}
  <div class="container-fluid px-0 mb-6">
    <div class="row mx-0 bg-title text-center align-items-center">
      <h1 class="text-white pt-6">
        <span class="text-secondary"> {{ .Title }}</span> {{ $.Site.Title }}
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{ partial "post_meta_date.html" . }}
      <div>
        Categories:
        {{ range (.GetTerms "categories") }}
          <span class="badge bg-light"
            ><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span
          >
        {{ end }}
      </div>
    </div>
    <div class="row mt-4">
      <div>
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
