---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { LandingPageMap } from "../components/LandingPageMap";
import { SITE_DESCRIPTION } from "../constants";
import androidImage from "../assets/maplibre-native/maplibre-native-android.png";
import iosImage from "../assets/maplibre-native/maplibre-native-ios.png";
import ProjectSection from "../components/ProjectSection.astro";
import GitHubBadge from "../components/GitHubBadge.astro";
import LinkBadge from "../components/LinkBadge.astro";
---

<Layout>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <div id="home-wrapper">
          <div class="home-banner">
            <div class="row align-items-center" style="padding: 0px 10px;">
              <div>
                <Icon
                  name="maplibre"
                  aria-label="MapLibre Logo"
                  width={353}
                  height={100}
                  style="margin: 0 auto;"
                />

                <p
                  style="word-break:normal; margin-top:30px; max-width: 800px;"
                >
                  {SITE_DESCRIPTION}
                </p>

                <!-- <p>Open-source map libraries for web and mobile.</p> -->
              </div>
            </div>
          </div>
        </div>

        <ProjectSection title="Map<span style='color: #95BEFA;'>Libre</span> GL JS" visualFlex={false}>
          <Fragment slot="description">
            Open-source TypeScript library for publishing maps on your
            website. Great performance due to GPU-accelerated vector tile
            rendering.
          </Fragment>
          <Fragment slot="badges">
            <GitHubBadge href="https://github.com/maplibre/maplibre-gl-js" />
            <LinkBadge href="https://maplibre.org/maplibre-gl-js/docs">API Documentation</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-gl-js/docs/plugins/">Plugins</LinkBadge>
          </Fragment>
          <div slot="visual" style="max-width: 500px; margin: 0px auto;">
            <LandingPageMap client:only="solid-js" />
          </div>
        </ProjectSection>

        <ProjectSection title="Map<span style='color: #95BEFA;'>Libre</span> Native" visualStyle="gap: 1rem;">
          <Fragment slot="description">
            Open-source C++ library for displaying maps inside your mobile
            or desktop applications, embedded devices or even cars.
            GPU-acceleration through OpenGL, Metal or Vulkan.
          </Fragment>
          <Fragment slot="badges">
            <GitHubBadge href="https://github.com/maplibre/maplibre-native" />
            <LinkBadge href="https://maplibre.org/maplibre-native/android/api/">Android API</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-native/android/examples/">Android Examples</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-native/ios/latest/documentation/maplibre">iOS Documentation</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-native/cpp/api/">Core C++ API</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-native/docs/book/">Developer Docs</LinkBadge>
            <LinkBadge href="projects/native/">Read more</LinkBadge>
          </Fragment>
          <Fragment slot="visual">
            <Image
              src={androidImage}
              alt="MapLibre Native Android"
              width={150}
              height={300}
              densities={[1, 1.5, 2]}
              quality={95}
              style="object-fit: contain; max-width: 150px;"
            />
            <Image
              src={iosImage}
              alt="MapLibre Native iOS"
              width={150}
              height={300}
              densities={[1, 1.5, 2]}
              quality={95}
              style="object-fit: contain; max-width: 150px;"
            />
          </Fragment>
        </ProjectSection>

        <ProjectSection title="Map<span style='color: #95BEFA;'>Libre</span> Style Specification">
          <Fragment slot="description">
            A MapLibre style is a document that defines the visual
            appearance of a map: what data to draw, the order to draw it in,
            and how to style the data when drawing it. A style document is a
            JSON object with specific root level and nested properties. This
            specification defines and describes these properties.
          </Fragment>
          <Fragment slot="badges">
            <GitHubBadge href="https://github.com/maplibre/maplibre-style-spec" />
            <LinkBadge href="https://maplibre.org/maplibre-style-spec">Style Specification</LinkBadge>
            <LinkBadge href="https://maplibre.org/maputnik">Maputnik Style Editor</LinkBadge>
          </Fragment>
          <Fragment slot="visual">
            <img
              style="max-width: 150px;"
              src="img/palette.svg"
              alt="Style palette"
            />
            <a
              href="https://maplibre.org/maputnik"
              style="background-image: url('img/maputnik.png'); height: 300px; width:100%;max-width: 150px; background-size:contain; background-position: center; background-repeat: no-repeat;"
            >
            </a>
          </Fragment>
        </ProjectSection>

        <ProjectSection title="Map<span style='color: #95BEFA;'>Libre</span> Tile Specification">
          <Fragment slot="description">
            A next-generation vector tile format redesigned to take advantage of modern hardware. Offers an improved compression ratio, better decoding performance and new capabilities.
          </Fragment>
          <Fragment slot="badges">
            <GitHubBadge href="https://github.com/maplibre/maplibre-tile-spec" />
            <LinkBadge href="https://dl.acm.org/doi/epdf/10.1145/3748636.3763208">Publication</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-tile-spec/specification/">Specification</LinkBadge>
            <LinkBadge href="https://maplibre.org/maplibre-tile-spec/implementation-status/">Implementation Status</LinkBadge>
          </Fragment>
        </ProjectSection>

        <ProjectSection title="Martin">
          <Fragment slot="description">
            Martin is a tile generator and server able to create Map Vector
            Tiles (MVTs) from large
            <a href="https://maplibre.org/martin/pg-connections.html">PostGIS</a>
            databases on the fly, or serve tiles from
            <a href="https://maplibre.org/martin/sources-files.html">PMTile and MBTile</a>
            files. Martin optimizes for speed and heavy traffic, and is written in
            <a href="https://github.com/rust-lang/rust">Rust</a>. Martin includes
            <a href="https://maplibre.org/martin/tools.html">CLI tools</a> for
            generating, diffing, extracting, and combining MBTiles files.
          </Fragment>
          <Fragment slot="badges">
            <GitHubBadge href="https://github.com/maplibre/martin" />
            <LinkBadge href="https://martin.maplibre.org/">Demo</LinkBadge>
            <LinkBadge href="https://maplibre.org/martin/">Book</LinkBadge>
          </Fragment>
          <div
            slot="visual"
            style="background-image: url('img/martin.png'); height: 300px; width:100%; background-size:contain; background-position: center; background-repeat: no-repeat;"
          >
          </div>
        </ProjectSection>
      </div>
    </div>
  </div>
</Layout>
