---
title: "Jobs";

import TitleHeader from "../components/TitleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jobs">
  <div class="container">
    <TitleHeader>Jobs</TitleHeader>
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-10 col-lg-8">
        <!-- <h2>Jobs</h2> -->

        <h3>Work for MapLibre!</h3>

        <p>
          Join MapLibre and help develop open-source libraries and tools for
          mapping that enable others to build amazing services and products.
        </p>

        <p>
          Maintenance, coordination, and software development are central to the
          MapLibre Organization. Bring your skills, talent, and passion to
          MapLibre and learn new things while supporting the community.
        </p>

        <h3>Job Openings</h3>
        <p>Currently, we have job openings for the positions listed below.</p>

        <p>
          You can always send an email with your application to
          <a href="mailto:jobs@maplibre.org">jobs@maplibre.org</a>
          even if no matching openings are listed, and we will get back to you once
          we are looking to fill a position.
        </p>

        <h3>Bounty hunting</h3>
        <ul>
          <li><a href="/jobs/developer-job-posting/">Developer role</a></li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
