---
title: "Privacy Policy";

import Layout from "../layouts/Layout.astro";
import TitleHeader from "../components/TitleHeader.astro";
---

<Layout title="Privacy Policy">
  <TitleHeader>Privacy Policy</TitleHeader>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="lead mb-4">Privacy Policy MapLibreTestApp (iOS)</p>
        <p>
          This privacy policy applies to the MapLibreTestApp for iOS. This app
          is designed so you can help MapLibre developers find bugs in MapLibre
          Native.
        </p>
        <p>
          Crashes are reported to a MapLibre Sentry account accessible by
          MapLibre developers. Crash information may include information like IP
          address, device type and logs (which may contain GPS coordinates if
          permissions where given). Do not run the MapLibreTestApp if you are
          not comfortable with this.
        </p>
        <p>
          You may send a message to <a href="mailto:team@maplibre.org"
            >team@maplibre.org</a
          >
          with your IP address and we will delete all data for that IP address.
        </p>
        <p class="mb-0">
          Note: MapLibre libraries do not contain any tracking! This privacy
          policy is only relevant for the MapLibreTestApp distributed for iOS.
        </p>
      </div>
    </div>
  </div>
</Layout>
