.bg-fullscreen {
  background: rgba(40, 93, 170, 0.9);
}
.bg-navbar {
  background: #285daa;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-title {
  background-color: #285daa;
  background-image: url("/img/title-map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
.home-banner {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 50%;
  width: 65%;
  z-index: $zindex-sticky;
  transform: translateY(-50%);
}
.title-image {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

ul.projects {
  list-style: none;
  li::before {
    content: "\2022";
    color: $secondary;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
  }
}

.heading-link {
  border-bottom: none;
  &::before {
    font-size: 1rem;
    content: "🔗";
  }
}

ul.section-list {
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0;

    &:before {
      margin-right: 5px;
      color: $secondary;
      content: "# ";
    }
  }
}

.post-meta-date {
  color: #7a7a7a;
}
