@import "bootstrap/scss/functions";

$white: #fff;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.75,
);

$blue: #306fca;
$secondary: #87b2f0;
$body-color: rgb(203, 213, 225);//#304b72;
$link-color: $secondary;

$link-decoration: none;

$paragraph-margin-bottom: 20px;

$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 22px;
$h4-font-size: 18px;

$headings-margin-bottom: 20px;
$headings-font-family: "Alata", sans-serif;

$text-muted: #979da6;

$input-btn-focus-width: 0;

$navbar-nav-link-padding-x: 29px;

$navbar-dark-color: $white;

$navbar-dark-toggler-border-color: none;

@import "bootstrap/scss/variables";

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@import "./custom.scss";

@import "@fontsource/alata/400";
