---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import TitleHeader from "../../components/TitleHeader.astro";
import PostExcerpt from "@igor.dvlpr/astro-post-excerpt";

const posts = (await getCollection("news")).sort((a, b) => {
  console.log(b.data);
  return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<style lang="scss">
  .newsarticle {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background: #111422;
      h3,
      p:first {
        color: white !important;
      }
    }
  }

  .badge {
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 3px;

    svg {
      top: -2px;
      position: relative;
    }
  }
</style>

<Layout title="News">
  <TitleHeader>
    News
    <span class="badge bg-primary text-white">
      <a href="https://github.com/maplibre/martin">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          width="16"
          height="16"
        >
          <path
            fill="#fff"
            d="M2.002 2.725a.75.75 0 0 1 .797-.699C8.79 2.42 13.58 7.21 13.974 13.201a.75.75 0 0 1-1.497.098 10.502 10.502 0 0 0-9.776-9.776.747.747 0 0 1-.7-.798ZM2.84 7.05h-.002a7.002 7.002 0 0 1 6.113 6.111.75.75 0 0 1-1.49.178 5.503 5.503 0 0 0-4.8-4.8.75.75 0 0 1 .179-1.489ZM2 13a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
          >
          </path>
        </svg>
        RSS
      </a>
    </span>
  </TitleHeader>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        {
          posts.map((post) => (
            <a href={`news/${post.id}/`}>
              <div class="newsarticle">
                <h3 class="title" style="color: #e0e0e0;">
                  {post.data.title}
                </h3>

                <p style="color: #e0e0e0;">
                  <PostExcerpt post={post} words={50} addEllipsis={true} />
                </p>

                <p style="color: #9b91d2;">
                  {post.data.date.toLocaleDateString("en-US", {
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                  })}
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
