---
import { Sponsors } from "../../components/Sponsors.tsx";
import TitleHeader from "../../components/TitleHeader.astro";
import Layout from "../../layouts/Layout.astro";

title: "Sponsors";
---

<Layout title="Sponsors">
  <TitleHeader>Sponsors</TitleHeader>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-10 col-lg-8">
        <h2 class="mt-6">MapLibre Sponsorship Program</h2>
        <p>
          The MapLibre Sponsorship Program allows corporate entities to secure
          the continuity of the project and keep the organization and codebases
          healthy and up-to-date. Find more details and benefits here:
        </p>

        <ul>
          <li>
            <a href="/sponsors/MapLibre-Sponsorship-Program.pdf"
              >MapLibre-Sponsorship-Program.pdf</a
            >
          </li>
          <li>
            <a href="/sponsors/Slide-Deck-MapLibre-Sponsorship-Program.pdf"
              >Slide-Deck-MapLibre-Sponsorship-Program.pdf</a
            >
          </li>
        </ul>

        <Sponsors client:only />

        <h2 class="mt-6">Donations by Individuals</h2>
        <p>
          If you personally want to support MapLibre with a donation you have
          two options:
        </p>

        <ul>
          <li>
            Either you can make a donation on GitHub:
            <a href="https://github.com/sponsors/maplibre/"
              >https://github.com/sponsors/maplibre/</a
            >
          </li>
          <li>
            Or you can make a donation on OpenCollective:
            <a href="https://opencollective.com/maplibre/"
              >https://opencollective.com/maplibre/</a
            >
          </li>
        </ul>

        <h2 class="mt-6">Fiscal Host and Accounting Transparency</h2>
        <p>
          Open Source Collective 501(C)(6), a registered non-profit organization
          located in Covina, CA (USA), is MapLibre's fiscal host. Transactions
          from sponsors are directed to Open Source Collective, and all expenses
          are publicly visible with full accounting transparency at
          <a href="https://opencollective.com/maplibre/transactions"
            >https://opencollective.com/maplibre/transactions</a
          >.
        </p>

        <h2 class="mt-6">Financial Reports</h2>
        <p>
          Find quarterly financial reports at
          <a href="/about/reports">/about/reports</a>.
        </p>
      </div>
    </div>
  </div>
</Layout>
