---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import BottomNav from "./BottomNav.astro";
---

<footer class="mt-auto pt-5">
  <BottomNav />
  <hr />
  <div class="container">
    <div class="row py-3">
      <div class="col-4">
        <a href="" aria-label="MapLibre">
          <Icon name="maplibre" aria-hidden="true" height={30} width={120} />
        </a>
      </div>

      <div class="col-8">
        <div class="nav justify-content-end">
          <a
            class="nav-link text-white"
            href={new URL("news/index.xml", Astro.site)}
            aria-label="MapLibre RSS Feed"
          >
            <Icon name="rss" aria-hidden="true" height={16} width={16} />
          </a>
          <a
            class="nav-link text-white"
            href="https://bsky.app/profile/maplibre.org"
            aria-label="MapLibre on Bluesky"
          >
            <Icon name="bsky" aria-hidden="true" height={14} width={16} />
          </a>
          <a
            class="nav-link text-white"
            href="https://mastodon.social/@maplibre"
            aria-label="MapLibre on Mastodon"
          >
            <Icon name="mstdn" aria-hidden="true" height={16} width={16} />
          </a>
          <a
            class="nav-link text-white"
            href="https://twitter.com/maplibre"
            aria-label="MapLibre on X"
          >
            <Icon name="x" aria-hidden="true" height={16} width={16} />
          </a>
          <a
            class="nav-link text-white"
            href="https://www.linkedin.com/company/maplibre"
            aria-label="MapLibre on Linkedin"
          >
            <Icon name="linkedin" aria-hidden="true" height={18} width={18} />
          </a>
          <a
            class="nav-link text-white"
            href="https://github.com/MapLibre"
            aria-label="MapLibre on GitHub"
          >
            <Icon name="gh" aria-hidden="true" height={18} width={18} />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
