<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="{{ .Author }}" />
  <meta name="keywords" content="{{ .Params.keywords }}" />
  <meta name="description" content="{{ .Params.description }}" />
  <meta name="theme-color" content="#fff" />

  <meta property="og:image" content="/img/share-image.png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="512" />
  <meta property="og:image:alt" content="MapLibre" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta property="og:url" content="{{ .BaseURL }}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@maplibre" />
  <meta name="twitter:creator" content="@maplibre" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />
  <meta name="twitter:image:src" content="/img/share-image.png" />
  <meta name="twitter:image:alt" content="MapLibre" />

  {{ $options := (dict "includePaths" (slice "node_modules") "transpiler" "libsass") }}
  {{ $style := resources.Get "style.scss" | resources.ToCSS $options | resources.Minify |
    resources.Fingerprint
  }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  {{ $style := readFile "node_modules/maplibre-gl/dist/maplibre-gl.css" | resources.FromString "mapbox-gl.css" |
    resources.Fingerprint
  }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  {{ $opts := dict "targetPath" "main.js" }}
  {{ $built := resources.Get
    "main.js" | js.Build $opts
  }}  <script type="text/javascript" src="{{ $built.RelPermalink }}"></script>

  <title>{{ $.Site.Title }} - {{ .Title }}</title>
</head>
