<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="{{ .Site.Author }}" />
  <meta name="keywords" content="{{ .Params.keywords }}" />
  <meta name="description" content="{{ .Params.description }}" />
  <meta name="theme-color" content="#fff" />

  <meta
    property="og:image"
    content="https://maplibre.org/img/share-image.png"
  />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="512" />
  <meta property="og:image:alt" content="MapLibre" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta property="og:url" content="{{ .Permalink | absURL }}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@maplibre" />
  <meta name="twitter:creator" content="@maplibre" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />
  <meta
    name="twitter:image:src"
    content="https://maplibre.org/img/share-image.png"
  />
  <meta name="twitter:image:alt" content="MapLibre" />

  <link rel="manifest" href="/site.webmanifest" />

  <link rel="me" href="https://mastodon.social/@maplibre" />

  {{ $options := (dict "includePaths" (slice "node_modules") "transpiler" "libsass") }}
  {{ $style := resources.Get "style.scss" | css.Sass $options | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <link
    rel="preload"
    href="/files/alata-latin-400-normal.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  {{ $style := readFile "node_modules/maplibre-gl/dist/maplibre-gl.css" | resources.FromString "maplibre-gl.css" }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <link
    rel="preload"
    href="https://demotiles.maplibre.org/style.json"
    as="fetch"
    crossorigin
  />
  <link
    rel="preload"
    href="https://demotiles.maplibre.org/tiles/tiles.json"
    as="fetch"
    crossorigin
  />

  {{ $opts := dict "targetPath" "main.js" }}
  {{ $built := resources.Get "main.js" | js.Build $opts | resources.Fingerprint }}  <script type="text/javascript" src="{{ $built.RelPermalink }}"></script>

  <title>
    {{ .Title }} |
    {{ $.Site.Title }}
  </title>

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>
