<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top {{ if not .fullscreen }}
    bg-navbar
  {{ else }}
    bg-fullscreen
  {{ end }} "
>
  <div class="container">
    <a class="navbar-brand" href="/" aria-label="MapLibre">
      <svg
        aria-hidden="true"
        width="141"
        height="30"
        viewBox="0 0 141 30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="/img/maplibre-logo.svg#maplibre-logo"></use>
      </svg>
    </a>
    <div class="d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a
        class="nav-link py-1 py-lg-0 d-flex align-items-center d-lg-none text-white"
        href="https://github.com/MapLibre"
        aria-label="MapLibre organization on Github"
      >
        <svg
          aria-hidden="true"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
        >
          <use href="/img/github.svg#github"></use>
        </svg>
      </a>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        {{ range .menu }}
          <li>
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        <a
          class="nav-link d-flex flex-row justify-content-between"
          href="https://github.com/sponsors/maplibre"
          ><span aria-hidden="true" class="me-1">♡</span> Donate</a
        >
      </div>
    </div>
    <a
      class="nav-link py-1 py-lg-0 d-none align-items-center d-lg-flex text-white"
      href="https://github.com/MapLibre"
      aria-label="MapLibre organization on Github"
    >
      <svg
        aria-hidden="true"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 30 30"
      >
        <use href="/img/github.svg#github"></use>
      </svg>
    </a>
  </div>
</nav>
