<nav
  class="navbar navbar-expand-lg navbar-dark  {{ if not .fullscreen }}
    bg-navbar
  {{ else }}
    bg-fullscreen
  {{ end }} "
>
  <div class="container">
    <a class="navbar-brand" href="/" aria-label="MapLibre">
      <object
        height="30"
        width="120"
        data="/img/maplibre-logo.svg"
        type="image/svg+xml"
      ></object>
    </a>
    <div class="d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        {{ range .menu }}
          <li>
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
