{{ define "main" }}
  {{ partial "title-header.html" (dict "sitetitle" $.Site.Title "title" .Params.title) }}
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Bio</h2>
        {{ .Content }}
        {{ with .Params.twitter }}
          <p>
            <a href="https://twitter.com/{{ substr . 1 }}">
              Follow {{ $.Params.name }} on Twitter
            </a>
          </p>
        {{ end }}


        <h2>Articles</h2>
        {{ partial "post-list.html" (.Paginate .Data.Pages) }}

        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
{{ end }}
