{{ define "main" }}
  <div class="container-fluid px-0 mb-6">
    <div class="row mx-0 bg-title text-center align-items-center">
      <h1 class="text-white pt-6">
        <span class="text-secondary"> {{ .Params.title }}</span>
        {{ $.Site.Title }}
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div>
        <h2>Bio</h2>
        {{ .Content }}
        {{ with .Params.twitter }}
          <p>
            <a href="https://twitter.com/{{ substr . 1 }}">
              Follow {{ $.Params.name }} on Twitter
            </a>
          </p>
        {{ end }}


        <h2>Articles</h2>
        <ul>
          {{ range .Data.Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}
