{{ define "main" }}
  {{ partial "title-header.html" (dict "sitetitle" $.Site.Title "title" .Title) }}
  <div class="container">
    {{ if .Content }}{{ .Content }}{{ end }}
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-10 col-lg-8">
          <ul class="section-list">
            {{ range .Data.Pages }}
              <li>
                <a href="{{ .RelPermalink }}">
                  {{- .Params.title | markdownify }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
{{ end }}
