<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>
    <meta name="author" content="{{ page.author }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="theme-color" content="#fff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/base.css">
    <title>{{ page.title }}</title>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top {% if page.fullscreen != true %}bg-navbar{% else %}bg-fullscreen{% endif %} ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <svg width="141" height="30" viewBox="0 0 141 30" xmlns="http://www.w3.org/2000/svg"><use href="/img/maplibre-logo.svg#maplibre-logo"></use></svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/about/">About</a>
          <a class="nav-link" href="#">Docs</a>
          <a class="nav-link" href="#">Download</a>
          <a class="nav-link py-1 py-lg-0 d-flex align-items-center" href="https://github.com/MapLibre">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><use href="/img/github.svg#github"></use></svg>
          </a>
        </div>
      </div>

    </div>
  </nav>
    {{ content }}
   {% if page.fullscreen != true %}
   <footer class="position-absolute bottom-0 w-100">
     <div class="container border-top border-gray">
       <div class="row py-3">
         <div class="col-sm-6">
           <div class="nav">
             <a class="nav-link text-black-50" href="/">Home</a>
             <a class="nav-link text-black-50" href="/about/">About</a>
             <a class="nav-link text-black-50" href="#">Contact</a>
           </div>
         </div>
         <div class="col-sm-6">
           <div class="nav justify-content-end">
             <a class="nav-link text-black-50" href="#">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><use href="/img/icon/fb.svg#fb"></use></svg>
             </a>
             <a class="nav-link text-black-50" href="#">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><use href="/img/icon/linkedin.svg#linkedin"></use></svg>
             </a>
             <a class="nav-link text-black-50" href="#">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><use href="/img/icon/twt.svg#twt"></use></svg>
             </a>
             <a class="nav-link text-black-50" href="#">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><use href="/img/icon/ytb.svg#ytb"></use></svg>
             </a>
             <a class="nav-link text-black-50" href="#">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><use href="/img/icon/ig.svg#ig"></use></svg>
             </a>
           </div>
         </div>
       </div>
     </div>
   </footer>
   {% endif %}
  </body>
</html>
