{{ $img := $.Page.Resources.GetMatch (.Get 0)}}

<figure>
  {{ if (.Get 2) }}
  {{ $resize := (printf "%dx webp" (.Get 2)) }}
  {{ $width := (printf "%dpx" (.Get 2)) }}
  {{ $resized := ($img.Resize $resize ) }}
    <img class="w-50 p-3" src="{{ $resized.RelPermalink }}" alt="{{ .Get 1 }}" width={{ $width }} />
  {{else }}
    <img class="w-50 p-3" src="{{ $img.RelPermalink }}" alt="{{ .Get 1 }}" />
  {{ end }}
  <figcaption>{{ .Inner | .Page.RenderString (dict "display" "inline") }}</figcaption>
</figure>
