name: Build

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v3
        with:
          node-version: "24"
      - name: NPM install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Check formatting
        run: npm run format-check
